/* universal selector  */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner section styling  */
.banner {
    height: 800px;
    background-color: #C2C6C7;
    background-image: url("../images/banner/banner2.png");
    text-align: right;

}

.banner-btn {
    color: #FFFFFF;
    background-color: #f15b22;
    border: 0;
    height: 64px;
    padding: 25px 32px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 230px;
}

.banner-title {
    font-weight: 700;
    font-size: 60px;
    color: #151414;
    margin-bottom: 24px;
    padding-top: 216px;
    padding-left: 845px;
    padding-right: 230px;



}

.banner-description {
    color: #444343;
    margin-bottom: 32px;
    padding-left: 870px;
    padding-right: 230px;

}

/* failure section styles */
.failure {
    margin-top: 210px;
    margin-left: 250px;
    margin-bottom: 50px;
    margin-right: 270px;
    display: flex;
    gap: 87px;
    text-align: left;

}

.failure .title {
    color: #151414;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
}

.failure .description {
    color: #444343;
    margin-bottom: 16px;
}

.failure .points {
    color: #444343;
    margin-bottom: 8px;
}

.failure-content {
    margin-top: 200px;
}

/* planning section styling  */
.planning {
    margin: 0 220px 120px 220px;
    text-align: center;
}

.planning-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plan-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}